<template>
  <header>
    <table class="all">
      <tr>
        <td>
          <p>LINGVO</p>
          <span>English for dummies</span>
        </td>
        <td>
          <button class="btn" type="button">
            <router-link class="btn" to="/" type="button">Home Work</router-link>
          </button>
        </td>
        <td>
          <button class="btn" type="button">
            <router-link class="btn" to="/about" type="button">Tests for you</router-link>
          </button>
        </td>
        <td class="rightcol">
          <div class="language">
            <button class="btn" type="button">
              <span class="hidden">language</span>
              <span class="visually-hidden"> RUS</span>
            </button>
          </div>
        </td>
      </tr>
    </table>
    <div class="window">
      This resource is intended for learning a foreign language. Welcome)
    </div>
    <img alt="London" src="../assets/London.jpeg" height="890">
  </header>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style lang="scss" media="screen">
  header p {
    font-size: 350%;
    color: green;
    text-decoration-skip-ink: inherit;
    text-decoration-color: green;
    padding: 1px;
    margin: 1px;
  }
  header span {
    font-size: 100%;
    color: green;
    text-decoration-skip-ink: inherit;
    text-decoration-color: green;
    padding: 1px;
    margin: 1px;
   }
  .window {
    background: -webkit-gradient(linear, 2 5, 7 100%, from(#00BBD6), to(#EBFFFF));;
    border: 1px solid red;
    font-size: 200%;
    color: #2c3e50;
    padding: 15px;
    }
  table.all {
    width:  100%; /* Ширина таблицы */
    border-bottom-width: revert; /* Расстояние между ячейками */
  }
   table.all td {
    width: 100%; /* Ширина ячеек */
    vertical-align: top; /* Выравнивание по верхнему краю */
    padding: 24px;
   }
  td button{
    text-align: center; /* Выравнивание по правому краю */
    line-height: normal;
    font-family: Montserrat,Verdana,sans-serif;
    list-style: initial;
    font-size: 24px;
    border: 50% solid green;
    --transition-duration: 300ms;
    display: marker;
    --text-opacity: 12;
    color: rgba(77,25,145,var(--text-opacity));
    --bg-opacity: 1;
    background-color: rgba(100,255,164,var(--bg-opacity));
    padding: 20%;
    position: marker;
    border-radius: 30%;
   }
   td.rightcol button { /* Правая ячейка */
    text-align: center; /* Выравнивание по правому краю */
    line-height: normal;
    font-family: Montserrat,Verdana,sans-serif;
    list-style: initial;
    font-size: 12px;
    border: 50% solid green;
    --transition-duration: 300ms;
    display: marker;
    --text-opacity: 12;
    color: rgba(77,25,145,var(--text-opacity));
    --bg-opacity: 1;
    background-color: rgba(100,255,164,var(--bg-opacity));
    padding: 10%;
    position: marker;
    border-radius: 50%;
   }
  header {
    display: table-row;
    border-bottom: 1px solid #ccc;
    padding: .5rem 1rem;
  }
  nav {
    margin-left: auto;
  }
</style>
