<template>
  <app-header/>
  <router-view/>
</template>

<script>
import AppHeader from '@/components/AppHeader'
export default {
  components: {
    AppHeader
  }
}
</script>

<style>
#app a {
  font-weight: bold;
  color: #2c3e50;
}
</style>
